body {
  font-family: 'Caveat', cursive;
  background-color: #fcd477;
  margin-top: 250px;
  font-size: 35px;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
a {
  color: #fab24d;
}
a:hover {
  color: white;
}
p{
  color: white;
  text-align: center;
}
