body{
  background-color: yellow;
}

 h1{
  width: 700px;
  height: 400px;
  background-color: black;
  position: relative;
  z-index: -10;
  margin: 100px auto;
}

h2{
 width: 600px;
 height: 300px;
 background-color: gray;
 position: absolute;
 top: 130px;
 Left: 420px;
}

h3{
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 top: 450px;
 Left: 685px;
}

h4{
 width: 200px;
 height: 50px;
 background-color: black;
 position: absolute;
 top: 500px;
 Left: 635px;
}

h5{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 background-color: cyan;
 position: absolute;
 top: 180px;
 Left: 635px;
}

h6{
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: black;
 position: absolute;
 top: 250px;
 Left: 680px;
}

p{
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: black;
 position: absolute;
 top: 258px;
 Left: 760px;
}

s{
 width: 50px;
 height: 50px;
 border-bottom: 10px solid black;
 border-right: 10px solid black;
 border-left: 10px solid cyan;
 border-top: 10px solid cyan;
 border-radius: 50%;
 transform: rotate(45deg);
 position: absolute;
 top: 300px;
 Left: 703px;
